.feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

    @include breakpoint-up(medium){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 400px);
    }

    .article {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        padding: 6rem 2em;
    
        @include breakpoint-up(medium) {
            padding: 0rem 2em;
            width: 50vw;
            justify-content: center;
            gap: clamp(2rem, 1vw, 2.5rem);
        }
    
    
        &__title,
        &__text,
        &__link {
            display: block;
            margin: 0 auto;
            text-align: left;
            width: 70%;
        }
    
        &__title {
            font-size: rem(28);
            color: $veryDarkDesaturatedBlue;
            width: 70%;
        }
    
        &__text {
            font-size: rem(17);
        }
    
        &__link {
            position: relative;
            font-family: $ff-fraunces;
            color: $veryDarkDesaturatedBlue;
            font-size: 0.75rem;
            font-weight: 800;
            z-index: 1;
    
            &::before {
                content: " ";
                display: block;
                position: absolute;
                background-color: $yellow;
                height: 8px;
                width: 94px;
                border-radius: 31.25rem;
                top: 0.625rem;
                left: -3px;
                opacity: 36%;
                z-index: -1;
            }
    
            &:hover::before {
                opacity: 100%;
            }
        }
    }

    .picture img {
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        margin: 0 auto;

        @include breakpoint-up(medium) {
            width: 50vw;
        }
    }
    .bg-cherry {
        background-image: url('/images/mobile/image-graphic-design.jpg');
    
        @include breakpoint-up(medium) {
            background-image: url('/images/desktop/image-graphic-design.jpg');
        }
    }
    
    .bg-orange {
        background-image: url('/images/mobile/image-photography.jpg');
        
        @include breakpoint-up(medium) {
            background-image: url('/images/desktop/image-photography.jpg');
        }
    }

    .img-text {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 35px 10px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
                
        @include breakpoint-up(medium) {
            padding: 35px;
        }
        
        &__title {
            font-weight: 900;
        }

    }


}