.header {
    background-image: url('/images/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;

    @include breakpoint-up(medium) {
        background-image: url('/images/desktop/image-header.jpg');
        height: 50rem;
    }

    nav {
        position: relative;

    }

    &__toggle {
        //Mobile Menu

        >span {
            display: block;
            width: rem(26);
            height: rem(2);
            background-color: $white;
            transition: all 300ms ease-in-out;
            transform-origin: rem(3) rem(1);

            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }

    }

    &__links {
        a {
            padding: rem(17) rem(10);
        }

        a:not(:last-child) {
            color: $white;
            font-size: 1.062rem;
            margin-right: rem(13);

            &:hover {
                color: $veryDarkDesaturatedBlue;
            }

        }
    }

    &__cta {
        background-color: $white;
        color: $veryDarkDesaturatedBlue;
        transition: background 150ms ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: $white;
        }
    }

    // Hamburgur open styles
    &.open {
        .header__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: 1.5rem;
        padding: 1.625rem;
        text-align: center;

        a:not(:last-child) {
            color: $veryDarkGrayishBlue;
            font-weight: 500;
            padding: 0.75rem;
            margin-bottom: rem(10);
        }
    }

    &__cta2 {
        background-color: $yellow;
        color: $veryDarkDesaturatedBlue;
    }

    &__text {
        color: $white;
        font-family: $ff-fraunces;
        text-align: center;
        letter-spacing: rem(7);
        padding: rem(40);
        font-size: rem(46);

        @include breakpoint-up(medium) {
            padding: rem(82);
        }
    }

    &__arrow {
        
    }

}

.triangle {
    position: absolute;
    top: -25px;
    right: 0;
    border-top: rem(25) solid transparent;
    border-right: rem(25) solid $white;
    border-bottom: rem(0) solid transparent;
}