.main {
    display: grid;
    grid-template: repeat(6, 1fr);

    @include breakpoint-up(medium) {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    &__item {
        // min-height: 310px;
        // min-width: 370px;
        
        @include breakpoint-up(medium) {
            // min-height: 400px;
            // min-width: 400px;
            // padding: 165px 112px 165px 165px;
        
        }

    }

    &__wrapper {
        padding: 71px 28px 67px 28px;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    &__text-box {
        background-color: $white;
        margin: auto;


        @include breakpoint-up(medium) {
            width: 65%;

        }

        &__title {
            font-family: $ff-fraunces;
            color: $veryDarkDesaturatedBlue;    
            margin-bottom: 47px;
            width: 70%;
        }

        &__text {
            margin-bottom: 47px;
        }

        &__more {
            position: relative;
            font-family: $ff-fraunces;
            color: $veryDarkDesaturatedBlue;
            font-size: 0.75rem;
            font-weight: 800;
            z-index: 1;
            margin-bottom: 47px;

            &::before {
                content: " ";
                display: block;
                position: absolute;
                background-color: $yellow;
                height: 7px;
                width: 114%;
                border-radius: 5px;
                top: 10px;
                left: -5px;
                opacity: 36%;
                z-index: -1;
            }

            &:hover::before {
                opacity: 100%;
            }
        }
    }

    &__image-box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__it-box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        color: $darkDesaturatedCyan;
        text-align: center;

        min-height: 600px;

        display: flex;
        justify-content: end;
        align-content: center;
        flex-direction: column;


        // padding: 71px 28px 67px 28px;

        // @include breakpoint-up(medium) {
        
        // }

        &__title {
            font-family: $ff-fraunces;
            font-weight: 900;
        }

        p {
            font-size: 1.0625rem;
            color: $darkDesaturatedCyan;

        }
    }
}

// @include breakpoint-up(medium) {
//     .image-box2, .image-box4 {
//         display: none;
//     }

//     .image-box1, .image-box3 {
//         display: block;
//     }
// }

// @include breakpoint-down(medium) {
//     .image-box1, .image-box3 {
//         display: none;
//     }

//     .image-box2, .image-box4 {
//         display: block;
//     }
// }
