// Colors

//Primary
$softRedL: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%); // for graphic design text
$darkBlue: hsl(198, 62%, 26%); // for photography text
$darkModerateCyan: hsl(168, 34%, 41%); // for footer

//Neutrals
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);


// Font Sizes
// $font-sm: 0.875rem;     //14px
$font-med: 1.125rem;    //18px
// $font-lg: 1.25rem;    //20px
// $font-xl: 3.25rem;    //52px


// Font Families
$ff-body: 'Public Sans', sans-serif;
$ff-fraunces: 'Fraunces', serif;
$ff-barlow: 'Barlow', sans-serif;